.hero {
	height: 65rem;
	background-image: url("/images/desktop/image-hero.jpg");
	background-position: 50% 50%;
	background-size: cover;
	color: $col-white;
	padding: 6rem 10rem;
	position: relative;

	@include flex(column, flex-start, stretch);

	@media screen and (max-width: 700px) {
		height: 100vh;
		background-image: url("/images/mobile/image-hero.jpg");
		background-size: cover;
		padding: 6rem 3rem;

	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($color: #000000, $alpha: 0.3);
	}

	* {
		z-index: 1;
	}

	&__heading {
		display: block;
		position: relative;
		
        width: 50%;
		min-width: 60rem;
        height: fit-content;

		padding: 3rem;
		margin-bottom: 7rem;
		margin-top: auto;

		& .box::before,
		& .box::after,
		& .box-helper::before,
		& .box-helper::after {
			content: '';
			position: absolute;
			background-color: $col-white;
		}
		
		& .box::before {
			width: 0%;
			height: 3px;
			top: 0;
			left: 0;
			@include animateborder(topleft, $animate-border-time);
		}
		& .box::after {
			width: 0%;
			height: 3px;
			bottom: 0;
			right: 0;
			@include animateborder(bottomright, $animate-border-time);
		}
		& .box-helper::before {
			width: 3px;
			height: 0%;
			top: 0;
			right: 0;
			@include animateborder(topright, $animate-border-time);
		}
		& .box-helper::after {
			width: 3px;
			height: 0%;
			bottom: 0;
			left: 0;
			@include animateborder(bottomleft, $animate-border-time);
		}
		
        // border: 2px solid $col-white;

		@media screen and (max-width: 700px) {
			width: 100%;
			min-width: auto;
			height: auto;
			margin-bottom: 20vh;
			padding: 1.5rem;
		}
	}
}

.nav {
	@include flex(row, space-between, center);
	z-index: 2;
	position: fixed;
	padding: 6rem 10rem;
	left: 0;
	right: 0;

	@media screen and (max-width: 700px) {
		padding: 6rem 3rem;
	}

	&.navbar-scrolled {
		background-color: $col-black;
		padding: 1rem 10rem;

		@media screen and (max-width: 700px) {
			padding: 1rem 3rem ;
		}
	}

	& .brand {
		@include flex-center(column);
	}

	&__list {
		display: flex;
		list-style-type: none;

		&-item {
			a {
				color: $col-white;
				text-decoration: none;
			}

			@include underline_animation;
			@include flex-center(column);
		}

		&-item + &-item {
			margin-left: 3rem;
		}

		@media screen and (max-width: 700px) {
			display: none;
		}
	}

	&__hamburger, &__close {
		cursor: pointer;
	}

	&__hamburger {
		@include flex-center(column);
	}


	&__mobile {

		&-wrapper {
			visibility: hidden;
			padding: 4rem;

			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $col-black;

			&__top {
				@include flex(row, space-between, center);
			}
		}

		&__list {
			list-style-type: none;
			@include flex(column, center, flex-start);
			height: 100vh;

			&-item a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 3rem;
				font-family: $font-1;
				color: $col-white;
			}

			&-item {
				& + & {
					margin-top: 4rem;
				}
			}
		}


		@media screen and (min-width: 700px) {
			display: none;
		}
	}
}
