.btn {
    font-family: $font-2;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 5px;

    border: 2px solid $col-black;
    border-radius: none;
    padding: .5em 2em;
    
    background-color: $col-white;

    cursor: pointer;

    &:hover {
        background-color: $col-black;
        color: $col-white;
    }
}