// ANIMATE HERO SECTION BORDER
@keyframes topleft {
    0% {
        width: 0%;
    }

    25% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes topright {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 100%;
    }
}

@keyframes bottomright {
    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    75% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes bottomleft {
    0% {
        height: 0%;
    }

    75% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

// animation on scroll: classes
.fade {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.fade-in-top {
    opacity: 0;
    transform: translateY(-50%);
    
    &.appear {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(50%);
    
    &.appear {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-50%);

    &.appear {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50%);
    
    &.appear {
        opacity: 1;
        transform: translateX(0);
    }
}