@mixin flex($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin animateborder($name, $duration) {
    animation-name: $name;
    animation-duration: $duration;
    animation-fill-mode: forwards;
}