// colors:
$col-white: hsl(0, 0%, 100%);
$col-black: hsl(0, 0%, 0%);
$col-dark-grey: hsl(0, 0%, 55%);
$col-very-dark-grey: hsl(0, 0%, 41%);

// fonts: 
$font-1: 'Josefin Sans', sans-serif;
$font-2: 'Alata', sans-serif;

// animation times
$animate-border-time: 1.6s;